<%--
  Created by IntelliJ IDEA.
  User: User
  Date: 05.02.2020
  Time: 10:08
  To change this template use File | Settings | File Templates.
--%>
<%@ tag description="Simple Wrapper Tag" pageEncoding="UTF-8"%>


<head>
    <style type="text/css">
        TABLE {
            min-width: 650px;
            max-width: 650px;
            border-collapse: collapse; /* Убирает двойные линии между ячейками */
            background: white;
        }
        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }
    </style>
</head>
